body{
    background-color: white;
    color: black;
    font-family: sans-serif;
}
h2{
    font-size: 1000%;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

.main-page{
    margin: auto;
}

.navbar{
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
}

.entry-content{
    height: 60rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.entry-content h1{
    font-size: clamp(50px, 8vw, 80px);
    transition: 0.3s;
    color: black;
}

a{
    color: black;
    text-decoration-line: none;
}

.entry-content h1:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.entry-content h4{
    font-size: clamp(20px, 3vw, 40px);
}

.about-content{
    height: clamp(250px, 40vw, 600px);
    border-radius: 60px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    display: flex;
    align-items: center;
    background-image: url(images/IMG_1910.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.about-text{
    width: 30%;
    text-align: center;
    margin-left: 10%;
}

.about-text p{
    font-size: clamp(15px, 2vw, 30px);
}

.about-text h4{
    font-size: clamp(20px, 3vw, 45px);
}

.image{
    width: 50%;
    height: auto;
    justify-content: flex-end;
}

.morebutton{
    transition: 0.2s;
    width: 80%;
    height: 50px;
    background-color: rgb(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: black;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.morebutton:hover{
    transform: scale(1.05);
}

.projects{
    display: flex;
    flex-wrap: wrap;
}

.projects h3{
    font-size: 200%;
}

.projects p{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    flex-grow: 1;
}

#project{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(33, 33, 33);
    border-radius: 8px;
    height: 500px;
    width: 20%;
    min-width: 300px;
    margin: auto;
    text-align: center;
    transition: all, 0.4s;
    margin-top: 50px;
    padding: 20px;
}

.slimmekas{
    background-color: white;
    background-size: contain;
    background-position: center;

}

.slimmekas:hover{
    background-image: url(images/slimmekas.png);
    background-size: cover;
    background-position: center;
    transform: scale(1.05);
    transition: all, 0.4s;
}

.voetbalrobot{
    background-color: white;
    background-size: contain;
    background-position: center;
}

.voetbalrobot:hover{
    background-image: url(images/voetbalbot.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    transform: scale(1.05);
    transition: all, 0.4s;
}

.solenoid{
    background-color: white;
}

.solenoid:hover{
    background-image: url(images/solenoid.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    transform: scale(1.05);
    transition: all, 0.4s;
}

.cpp{
    background-color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.cpp:hover{
    background-image: url(images/cpp.png);
    background-attachment: fixed;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.05);
    transition: all, 0.4s;
}

.navbar a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: clamp(20px, 1vw, 2vw);
}

.navbar a:hover{
    color: rgb(80, 80, 80);
}

footer{
    height: 80px;
    margin-top: 100px;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.4s;
}
  
.overlay-content {
    background-color: white;
    position: relative;
    border-color: rgb(200,200,200);
    border-width: 5px;
    border-style: solid;
    border-radius: 40px;
    top: 25%;
    width: 60%;
    height: 50%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.overlay-text{
    width: 50%;
    text-align: center;
}

@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
