body{
    background-color: black;
    color: white;
}
.main-page{
    margin: auto;
}

.entry-content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
}

