body{
    background-color: black;
    color: white;
    font-family: sans-serif;
}
h2{
    font-size: 1000%;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

.main-page{
    margin: auto;
}

.navbar{
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.projects{
    display: flex;
    flex-wrap: wrap;
}

#project{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(33, 33, 33);
    border-radius: 8px;
    height: 500px;
    width: 20%;
    min-width: 250px;
    margin: auto;
    margin-left: 30px;
    text-align: center;
    transition: all, 0.4s;
    margin-top: 50px;
}

.slimmekas{
    background-image: url(images/Black_colour.jpg);
    background-size: contain;
    background-position: center;

}

.slimmekas:hover{
    background-image: url(images/IMG_2848_3.jpg);
    background-size: cover;
    background-position: center;
    transform: scale(1.1);
    transition: all, 0.4s;
}

.voetbalrobot{
    background-image: url(images/Black_colour.jpg);
    background-size: contain;
    background-position: center;
}

.voetbalrobot:hover{
    background-image: url(images/IMG_1623.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    transform: scale(1.1);
    transition: all, 0.4s;
}

.solenoid{
    background-image: url(images/Black_colour.jpg);
    background-size: contain;
    background-position: center;
}

.solenoid:hover{
    background-image: url(images/IMG_0888.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    transform: scale(1.1);
    transition: all, 0.4s;
}

.cpp{
    background-image: url(images/Black_colour.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.cpp:hover{
    background-image: url(images/ISO_C++_Logo.svg.png);
    background-attachment: fixed;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.1);
    transition: all, 0.4s;
}

.navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: clamp(20px, 1vw, 2vw);
}

.navbar a:hover{
    color: #ddd;
}

.entry-content{
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(30px, 4vw, 50px);
    background-image: url(images/IMG_1910.jpg);
    background-size: cover;
    background-position: center;
}

